$board-bg-color: #cccbcb;
$navbar-app-bg-color: #0067a3;
$navbar-board-bg-color: #0079bf;
$list-bg-color: #ebecf0;
$app-main-color: #333;
$gap: 10px;
$column-header-height: 45px;
$column-footer-height: 36px;
$column-border-radius: 5px;
$card-border-radius: 5px;


//Screen
$sceen-lg:1201px;
$sceen-md:992px;
$sceen-sm:768px;
$sceen-phone:480px;
$sceen-ip6-down:'(max-width: 375px)';